<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.miven.springboot.mybatis.mapper.FruitMapper">

    <insert id="insert" parameterType="com.miven.springboot.mybatis.entity.Fruit" >
      insert into fruit (name, number) values (#{name}, #{number});
    </insert>

    <select id="select" resultType="com.miven.springboot.mybatis.entity.Fruit">
        select name, number from fruit where name = #{fruit.name} order by #{order};
    </select>

</mapper>