<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.miven.springboot.jta.mapper.db1.Db1Test1Mapper">
    <select id="updateName">
        update jta1.test1 set name = #{name} where id = #{id};
    </select>
</mapper>