<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miven.springboot.transaction.mapper.TeacherMapper">
    <update id="updateById" parameterType="com.miven.entity.Teacher">
        update springboot_learning.teacher set age = #{age}, name = #{name} where id = #{id}
    </update>
</mapper>